@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: var(--body-font);
  padding: 0;
  margin: 0;
  border: 0;
box-sizing: border-box;
  
}
html{
  scroll-behavior: smooth;
  
}
:root {
--body-font: "Rubik", sans-serif;
--black1: #343434;
--principal: #ffa97a;
--Blanc: #fcfafa;
--pink1:#DE3163;
--green1: #aac402;
}
::-webkit-scrollbar {
  display: none;
}
